 <!-- sidebar sm satrt -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel">

    <div class="offcanvas-body p-0">
        <div class="sider-top">
            <div class="user">
                <ul class="list-unstyled">
                    <li class="user">
                        <img src="assets/images/user-profile.svg" alt="img">
                    </li>
                    <li>
                        <h4 class="user-name">Eric Adorno <span><img src="assets/images/cleaner-icon.png"
                                    alt="cleaner"></span></h4>
                        <a href="javascript:;" class="user-btn"> user <span><img src="assets/images/user-fillter.png"
                                    alt="fillter"></span></a>
                    </li>
                </ul>
            </div>
            <hr class="divder">
            </hr>
            <div class="job">
                <ul class="list-unstyled">
                    <li class="current">Current Job</li>
                    <li class="price">$450</li>
                </ul>
            </div>
        </div>
        <div class="links">
            <ul class="list-unstyled">
                <li>
                    <a href="index.html">
                        <div class="round active">
                            <span class="icons"><img src="assets/images/paint-brush.svg" alt="img"></span> My Jobs
                        </div>
                    </a>
                </li>
                <li>
                    <a href="message.html">
                        <div class="round">
                            <span class="icons"><img src="assets/images/message.svg" alt="img"></span> Message
                        </div>
                    </a>
                </li>
                <li>
                    <a href="earnings.html">
                        <div class="round">
                            <span class="icons"><img src="assets/images/dollar-symbol.svg" alt="img"></span> Earnings
                        </div>
                    </a>
                </li>
                <li>
                    <a href="availability.html">
                        <div class="round">
                            <span class="icons"><img src="assets/images/calendar.svg" alt="img"></span> Availability
                        </div>
                    </a>
                </li>
                <li>
                    <a href="reviews.html">
                        <div class="round">
                            <span class="icons"><img src="assets/images/star.svg" alt="img"></span> Reviews
                        </div>
                    </a>
                </li>
                <li>
                    <a href="shop.html">
                        <div class="round">
                            <span class="icons"><img src="assets/images/shopping-cart.svg" alt="img"></span> Shop
                        </div>
                    </a>
                </li>
                <li>
                    <a href="tutorials.html">
                        <div class="round">
                            <span class="icons"><img src="assets/images/play-button.svg" alt="img"></span> Tutorials
                        </div>
                    </a>
                </li>
                <li>
                    <a href="settings.html">
                        <div class="round">
                            <span class="icons"><img src="assets/images/settings.svg" alt="img"></span> Settings
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    </div>
<!-- sidebar sm end -->
<!--########## [ Aside Bar Start ] ###########-->
    <div class="sidebar-lg sidebar row mx-0 h-100 flex-column flex-wrap" id="sidebarlg">
        <div class="sider-top col-12">
            <div class="user">
                <ul class="list-unstyled">
                    <li class="user"><img src="assets/images/user-profile.svg" alt="img"></li>
                    <li>
                        <h4 class="user-name">Eric Adorno <span><img src="assets/images/cleaner-icon.png" alt="cleaner"></span></h4>
                        <a href="javascript:;" class="user-btn"> user <span><img src="assets/images/user-fillter.png"  alt="fillter"></span></a>
                    </li>
                </ul>
            </div>
            <hr class="divder">
            </hr>
            <div class="job">
                <ul class="list-unstyled">
                    <li class="current">Current Job</li>
                    <li class="price">$450</li>
                </ul>
            </div>
        </div>
        <div class="links col-12 h-100 flex-fill px-0 overflow-hidden">
            <div class="row mx-0 overflow-y-auto h-100">
                <ul class="list-unstyled px-0 col-12">
                    <li><a href="index.html"><div class="round active"><span class="icons"><img src="assets/images/paint-brush.svg" alt="img"></span> My Jobs</div></a></li>
                    <li><a href="message.html"><div class="round"><span class="icons"><img src="assets/images/message.svg" alt="img"></span> Message</div></a></li>
                    <li><a href="earnings.html"><div class="round"><span class="icons"><img src="assets/images/dollar-symbol.svg" alt="img"></span> Earnings</div></a></li>
                    <li><a href="availability.html"><div class="round"><span class="icons"><img src="assets/images/calendar.svg" alt="img"></span> Availability</div></a></li>
                    <li><a href="reviews.html"><div class="round"><span class="icons"><img src="assets/images/star.svg" alt="img"></span> Reviews</div></a></li>
                    <li><a href="shop.html"><div class="round"><span class="icons"><img src="assets/images/shopping-cart.svg" alt="img"></span> Shop</div></a></li>
                    <li><a href="tutorials.html"><div class="round"><span class="icons"><img src="assets/images/play-button.svg" alt="img"></span> Tutorials</div></a></li>
                    <li><a href="settings.html"><div class="round"><span class="icons"><img src="assets/images/settings.svg" alt="img"></span> Settings</div></a></li>
                </ul>
            </div>
        </div>
    </div>
<!--########## [ Aside Bar End ] ###########-->