[data-page-name="messagePage"] {
    .wrapper {
        & .main {
            & .maniChateBox {

                // Empty Box start
                & .livechatbox {
                    border-radius: 16px;
                }

                & .emptyChatebox {
                    & .mtChatBox {
                        & .chatImage {
                            width: 80px;
                            height: 80px;
                        }
                    }

                    & .message {
                        font-family: 'Inter', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 29px;
                        /* identical to box height */
                        text-align: center;
                        color: #29293E;
                    }

                    & .nomessage {
                        font-family: 'Inter', sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        /* identical to box height, or 143% */
                        text-align: center;
                        color: #7F7F8D;
                    }
                }

                // Empty Box End

                // Chateing Box Start 
                & .chateingBox {
                    border-radius: 16px;

                    & .leftUserBox {
                        width: 320px;
                        border-right: 1px solid #EAEAEA;

                        & .searchgroup {
                            height: 76px;

                            & .input-group {
                                padding: 8px 16px;
                                border: 1px solid #D3D3D3;

                                & .input-group-text {
                                    width: 20px;
                                    height: 20px;
                                }

                                & .form-control {
                                    font-family: 'Inter', sans-serif;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 17px;
                                    /* identical to box height */
                                    color: #7F7F8D;

                                }
                            }
                        }

                        & .userCard {
                            height: 76px;

                            & .card-body {
                                padding: 12px 12px 12px 16px;
                                position: relative;

                                & .liveUserImg {
                                    width: 52px;
                                    height: 52px;
                                    margin-right: 12px;
                                }

                                & .contentscard {
                                    & .card-title {
                                        font-family: 'Inter', sans-serif;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 14px;
                                        line-height: 17px;
                                        /* identical to box height */
                                        color: #29293E;
                                    }

                                    & .chattext,
                                    & .card-date {
                                        font-family: 'Inter', sans-serif;
                                        font-style: normal;
                                        font-weight: 400;
                                        display: block;
                                        text-overflow: ellipsis;
                                    }

                                    & .card-date {
                                        font-size: 13px;
                                        line-height: 16px;
                                        /* identical to box height */
                                        text-align: right;
                                        color: #7F7F8D;
                                    }

                                    & .chattext {
                                        margin-top: 8px;
                                        font-size: 14px;
                                        line-height: 17px;
                                        /* identical to box height */
                                        color: #7F7F8D;
                                    }
                                }

                                &::before {
                                    content: "";
                                    height: 100%;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                    width: 4px;
                                    background-color: transparent;
                                }
                            }

                            &.active {
                                & .card-body {
                                    background-color: #F6F6F6;

                                    &::before {
                                        background-color: $theme1;
                                    }
                                }
                            }
                        }
                    }

                    & .rightChatebox {
                        width: calc(100% - 320px);

                        &.chateBox {
                            & .innerChatBox {

                                & .chatBoxHeader,
                                & .chatBoxFooter {
                                    // box-shadow: 0px 0px 10px rgba($theme1, 0.05);
                                }

                                & .chatBoxHeader {
                                    height: 82px;
                                    border-bottom: 1px solid #EAEAEA;

                                    & .userpic {
                                        width: 52px;
                                        height: 52px;
                                        // cursor: pointer;
                                        // position: relative;
                                        // transition: all 0.3s;

                                        // &::after {
                                        //     content: "";
                                        //     position: absolute;
                                        //     width: 10px;
                                        //     height: 10px;
                                        //     border: 2px solid $white;
                                        //     top: 60%;
                                        //     right: -3.5px;
                                        //     background-color: lighten($success, 20);
                                        //     border-radius: 50px;
                                        //     transition: all 0.3s;
                                        // }

                                        & img {
                                            object-fit: cover;
                                        }
                                    }

                                    & .userNAme {
                                        font-family: 'Inter', sans-serif;
                                        font-style: normal;
                                        font-weight: 600;
                                        font-size: 14px;
                                        line-height: 17px;
                                        /* identical to box height */
                                        color: #29293E;
                                    }

                                    & .moreRefressBtn {
                                        display: flex;
                                        align-items: center;
                                        flex-direction: row-reverse;
                                        gap: 10px;

                                        & .moreBt {
                                            width: 24px;
                                            height: 24px;
                                        }

                                        & .refreshCollapse {
                                            position: absolute;
                                            top: 50%;
                                            right: 80%;
                                        }
                                    }
                                }

                                & .chatBoxBody {
                                    & .innerbody {
                                        & .innerBox {
                                            & .datetime {
                                                font-family: 'Inter', sans-serif;
                                                font-style: normal;
                                                font-weight: 600;
                                                font-size: 14px;
                                                line-height: 17px;
                                                /* identical to box height */
                                                text-align: center;
                                                color: #7F7F8D;
                                            }

                                            & .chatCard {
                                                & .timing {
                                                    font-family: 'Inter', sans-serif;
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    font-size: 12px;
                                                    line-height: 15px;
                                                    /* identical to box height */
                                                    color: #7F7F8D;
                                                    margin-bottom: 12px;
                                                    gap: 4px;

                                                    & span {
                                                        font-weight: 600;
                                                        font-size: 14px;
                                                        line-height: 17px;
                                                    }
                                                }

                                                & .chatUser {
                                                    border-radius: 12px 12px 0px 12px;
                                                    padding: 12px;
                                                    font-family: 'Inter', sans-serif;
                                                    font-style: normal;
                                                    font-weight: 400;
                                                    font-size: 14px;
                                                    line-height: 17px;
                                                    /* identical to box height */
                                                    display: inline-flex;
                                                }

                                                &.chateingUser {
                                                    & .chatUser {
                                                        color: #FFFFFF;
                                                        background: #3CB54A;
                                                    }
                                                }

                                                &.liveUser {
                                                    & .chatUser {
                                                        background: #F6F6F6;
                                                        color: #7F7F8D;
                                                    }

                                                    & .timing {
                                                        flex-direction: row-reverse;
                                                    }
                                                }
                                            }

                                        }
                                    }
                                }

                                & .chatBoxFooter {
                                    height: 52px;

                                    & .upload {
                                        position: absolute;
                                        top: 50%;
                                        right: 0;
                                        transform: translate(-50%, -50%);

                                        & label {
                                            cursor: pointer;
                                        }
                                    }

                                    & .form-control {
                                        border: 1px solid #D3D3D3;
                                        font-family: 'Inter', sans-serif;
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 17px;
                                        /* identical to box height */
                                        color: #7F7F8D;
                                    }

                                    & .input-group-text {
                                        border: 1px solid #D3D3D3;
                                    }

                                    & .sendBtn {
                                        width: 52px;
                                        height: 52px;
                                        background: #3CB54A;

                                        & span {
                                            width: 24px;
                                            height: 24px;
                                        }
                                    }
                                }

                                & .alert {
                                    min-height: 64px;
                                    background: #FFEDD4;
                                    border-radius: 8px;
                                    position: relative;
                                    font-family: 'Inter', sans-serif;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 20px;
                                    /* or 143% */
                                    color: #7F7F8D;
                                    &::before {
                                        content: '';
                                        position: absolute;
                                        width: 5px;
                                        height: 100%;
                                        left: 0;
                                        top: 0;
                                        background-color: #FFAE3D;
                                    }
                                    & .closeBtn {
                                        width: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    & .offcanvas-backdrop {
        display: none;
    }
}

@media only screen and (max-width: 991.99px) {
    [data-page-name="messagePage"] {
        .wrapper {
            & .main {
                & .maniChateBox {
                    & .emptyChatebox {
                        & .mtChatBox {
                            & .chatImage {
                                width: 60px;
                                height: 60px;
                            }
                        }

                        & .message {
                            font-size: 22px;
                            line-height: 25px;
                        }

                        & .nomessage {
                            font-size: 12px;
                            line-height: 18px;
                        }
                    }

                    & .chateingBox {
                        & .leftUserBox {
                            width: 280px;
                            border-right: 1px solid #EAEAEA;

                            // & .searchgroup {
                            //     height: 76px;

                            //     & .input-group {
                            //         padding: 8px 16px;
                            //         border: 1px solid #D3D3D3;

                            //         & .input-group-text {
                            //             width: 20px;
                            //             height: 20px;
                            //         }

                            //         & .form-control {
                            //             font-size: 14px;
                            //             line-height: 17px;

                            //         }
                            //     }
                            // }

                            // & .userCard {
                            //     height: 76px;

                            //     & .card-body {
                            //         padding: 12px 12px 12px 16px;
                            //         position: relative;

                            //         & .liveUserImg {
                            //             width: 52px;
                            //             height: 52px;
                            //             margin-right: 12px;
                            //         }

                            //         & .contentscard {
                            //             & .card-title {
                            //                 font-family: 'Inter', sans-serif;
                            //                 font-style: normal;
                            //                 font-weight: 600;
                            //                 font-size: 14px;
                            //                 line-height: 17px;
                            //                 /* identical to box height */
                            //                 color: #29293E;
                            //             }

                            //             & .chattext,
                            //             & .card-date {
                            //                 font-family: 'Inter', sans-serif;
                            //                 font-style: normal;
                            //                 font-weight: 400;
                            //                 display: block;
                            //                 text-overflow: ellipsis;
                            //             }

                            //             & .card-date {
                            //                 font-size: 13px;
                            //                 line-height: 16px;
                            //                 /* identical to box height */
                            //                 text-align: right;
                            //                 color: #7F7F8D;
                            //             }

                            //             & .chattext {
                            //                 margin-top: 8px;
                            //                 font-size: 14px;
                            //                 line-height: 17px;
                            //                 /* identical to box height */
                            //                 color: #7F7F8D;
                            //             }
                            //         }

                            //         &::before {
                            //             content: "";
                            //             height: 100%;
                            //             position: absolute;
                            //             left: 0;
                            //             top: 0;
                            //             width: 4px;
                            //             background-color: transparent;
                            //         }
                            //     }

                            //     &.active {
                            //         & .card-body {
                            //             background-color: #F6F6F6;

                            //             &::before {
                            //                 background-color: $theme1;
                            //             }
                            //         }
                            //     }
                            // }
                        }

                        & .rightChatebox {
                            width: calc(100% - 280px);

                            // &.chateBox {
                            //     & .innerChatBox {
                            //         & .chatBoxHeader {
                            //             height: 82px;
                            //             border-bottom: 1px solid #EAEAEA;

                            //             & .userpic {
                            //                 width: 52px;
                            //                 height: 52px;
                            //             }

                            //             & .userNAme {
                            //                 font-family: 'Inter', sans-serif;
                            //                 font-style: normal;
                            //                 font-weight: 600;
                            //                 font-size: 14px;
                            //                 line-height: 17px;
                            //                 /* identical to box height */
                            //                 color: #29293E;
                            //             }

                            //             & .moreRefressBtn {
                            //                 display: flex;
                            //                 align-items: center;
                            //                 flex-direction: row-reverse;
                            //                 gap: 10px;

                            //                 & .moreBt {
                            //                     width: 24px;
                            //                     height: 24px;
                            //                 }

                            //                 & .refreshCollapse {
                            //                     position: absolute;
                            //                     top: 50%;
                            //                     right: 80%;
                            //                 }
                            //             }
                            //         }

                            //         & .chatBoxBody {
                            //             & .innerbody {
                            //                 & .innerBox {
                            //                     & .datetime {
                            //                         font-family: 'Inter', sans-serif;
                            //                         font-style: normal;
                            //                         font-weight: 600;
                            //                         font-size: 14px;
                            //                         line-height: 17px;
                            //                         /* identical to box height */
                            //                         text-align: center;
                            //                         color: #7F7F8D;
                            //                     }

                            //                     & .chatCard {
                            //                         & .timing {
                            //                             font-family: 'Inter', sans-serif;
                            //                             font-style: normal;
                            //                             font-weight: 400;
                            //                             font-size: 12px;
                            //                             line-height: 15px;
                            //                             /* identical to box height */
                            //                             color: #7F7F8D;
                            //                             margin-bottom: 12px;
                            //                             gap: 4px;

                            //                             & span {
                            //                                 font-weight: 600;
                            //                                 font-size: 14px;
                            //                                 line-height: 17px;
                            //                             }
                            //                         }

                            //                         & .chatUser {
                            //                             border-radius: 12px 12px 0px 12px;
                            //                             padding: 12px;
                            //                             font-family: 'Inter', sans-serif;
                            //                             font-style: normal;
                            //                             font-weight: 400;
                            //                             font-size: 14px;
                            //                             line-height: 17px;
                            //                             /* identical to box height */
                            //                             display: inline-flex;
                            //                         }

                            //                         &.chateingUser {
                            //                             & .chatUser {
                            //                                 color: #FFFFFF;
                            //                                 background: #3CB54A;
                            //                             }
                            //                         }

                            //                         &.liveUser {
                            //                             & .chatUser {
                            //                                 background: #F6F6F6;
                            //                                 color: #7F7F8D;
                            //                             }

                            //                             & .timing {
                            //                                 flex-direction: row-reverse;
                            //                             }
                            //                         }
                            //                     }

                            //                 }
                            //             }
                            //         }

                            //         & .chatBoxFooter {
                            //             height: 52px;

                            //             & .upload {
                            //                 position: absolute;
                            //                 top: 50%;
                            //                 right: 0;
                            //                 transform: translate(-50%, -50%);

                            //                 & label {
                            //                     cursor: pointer;
                            //                 }
                            //             }

                            //             & .form-control {
                            //                 border: 1px solid #D3D3D3;
                            //                 font-family: 'Inter', sans-serif;
                            //                 font-style: normal;
                            //                 font-weight: 400;
                            //                 font-size: 14px;
                            //                 line-height: 17px;
                            //                 /* identical to box height */
                            //                 color: #7F7F8D;
                            //             }

                            //             & .input-group-text {
                            //                 border: 1px solid #D3D3D3;
                            //             }

                            //             & .sendBtn {
                            //                 width: 52px;
                            //                 height: 52px;
                            //                 background: #3CB54A;
                            //                 & span {
                            //                     width: 24px;
                            //                     height: 24px;
                            //                 }
                            //             }
                            //         }
                            //     }
                            // }
                        }
                    }

                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    [data-page-name="messagePage"] {
        .wrapper {
            & .main {
                padding: 20px 16px 16px 16px;
                background-color: $white;

                & .maniChateBox {
                    & .emptyChatebox {
                        & .mtChatBox {
                            & .chatImage {
                                width: 50px !important;
                                height: 50px !important;
                            }
                        }

                        & .message {
                            font-size: 18px;
                            line-height: 22px;
                        }

                        & .nomessage {
                            font-size: 12px;
                            line-height: 18px;
                        }
                    }

                    & .chateingBox {
                        border-radius: 0px;

                        & .leftUserBox,
                        & .rightChatebox {
                            width: 100%;
                        }

                        & .leftUserBox {
                            border: none;
                        }

                        & .rightChatebox {
                            top: 80px;
                            height: calc(100% - 80px) !important;

                            & .innerChatBox {
                                & .chatBoxHeader {
                                    & .closeIcon {
                                        width: 20px;
                                    }

                                    & .userpic {
                                        width: 42px !important;
                                        height: 42px !important;
                                    }
                                }

                                & .chatBoxBody {
                                    & .innerbody {
                                        & .innerBox {
                                            & .datetime {
                                                font-size: 13px !important;
                                            }
                                        }
                                    }
                                }
                                & .chatBoxFooter  {
                                    & .sendBtn {
                                        width: 48px !important;
                                        height: 48px !important;
                                    }
                                }
                            }
                        }

                        & .offcanvas-backdrop {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 575.99px) {
    [data-page-name="messagePage"] {
        .wrapper {
            & .main {
                & .maniChateBox {
                    & .emptyChatebox {
                        & .mtChatBox {
                            & .chatImage {
                                // width: 50px !important;
                                // height: 50px !important;
                            }
                        }

                        & .message {
                            font-size: 16px;
                            line-height: 22px;
                        }

                        & .nomessage {
                            font-size: 10px;
                            line-height: 16px;
                        }
                    }
                }
            }
        }
    }
}