.theme-btn {
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    padding: 12px 40px;
    border: 1px solid $theme1;
    transition: all ease-in-out 0.3s;
    &:hover{
    transition: all ease-in-out 0.3s;
        & .customColor{
            filter: brightness(9.5);         
        }
    }
}

.custommsgBtn {
    background: transparent;
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $theme1;

    span {
        margin-left: 6px;
    }
}

.opLow {
    opacity: 0.6;
}

.btnGrayBorder {
    border: 1px solid #7F7F8D;
    color: #7F7F8D;
    background: transparent !important;

    &:hover {
        background: #7F7F8D !important;
        color: $white;
    }
}

.btnred {
    border: 1px solid $red;
    color: $white;
    background-color: $red !important;

    &:hover {
        background: transparent !important;
        color: $red;
    }
}

.btnGreenBorder {
    border: 1px solid $theme1;
    color: $theme1;
    background-color: transparent !important;

    &:hover {
        background: $theme1 !important;
        color: $white;
    }
}

.btnRedBorder {
    border: 1px solid $red;
    color: $red;

    &:hover {
        background: $red;
        color: $white;
    }
}

.btnGreen {
    border: 1px solid $theme1;
    color: $white;
    background-color: $theme1;

    &:hover {
        background: transparent;
        color: $theme1;
    }
}

.availabile {
    background: #E9F9EB;
    border: 1px solid $theme1;
    border-radius: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: $theme1;
    padding: 4px 14px;

    &.Waiting {
        color: $theme2 !important;
        border: 1px solid $theme2 !important;
        background: #FFEDDC !important;
    }
}


.refreshBtn {
    width: 160px;
    height: 44px;
    background: $white;
    border: 1px solid #EAEAEA;
    box-shadow: 0px 0px 16px #00000012;
    border-radius: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    color: #7F7F8D;
}

.bgblur {
    background-color: #98D19E !important;
    border: none;
    transition: all 0.3s ease-in-out;
    padding: 14px 64px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $white;

    &:hover {
        background-color: $theme1 !important;
        color: $white;
    }
}

.buttonGroup {
    & .Greenbutton {
        background: #E9F9EB;
        border: 1px solid #2BA339;
        border-radius: 32px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #2BA339;
    }

    & .orangebutton {
        background: #FFEDDC;
        border: 1px solid #E99140;
        border-radius: 32px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #E99140;


    }
}

.greenbtnmodal {
    background-color: #3cb54a;
    color: #fff;
    border: 1px solid #2ba339;
    border-radius: 32px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    width: 175px ;
    display: inline-flex;
    height: 51px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: $white;
        color: $theme1;
    }

}