[page-name=shoppage] {
    & .shopmaincontent {
        & .headingmain {
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
        }

        & .myorderbtn {
            & .myOrder {
                padding: 14px 20px;
                gap: 8px;
                border-radius: 14px;
                box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);

                & span {}
            }

        }

        & .ceatgeorymain {
            & .navcategorey {
                & .ceatgeory {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #FFFFFF;
                    border: 1px solid #D3D3D3;
                    border-radius: 50px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #7F7F8D;
                    padding: 14px 24px;

                    &.active {
                        background: #E9F9EB;
                        border: 1px solid #3BB54A;
                        color: #3BB54A;
                    }
                }
            }
        }

        & .groupinput {
            & .inputTextGroup {
                background: #FFFFFF;
                border: 1px solid #D3D3D3;
                border-radius: 50px;
                padding: 14px 16px;
            }

            & .controlForm {
                background: #FFFFFF;
                border: 1px solid #D3D3D3;
                border-radius: 50px;
                padding: 14px 16px;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #7F7F8D;
            }
        }

        & .tabscontentinner {
            & .alltab {
                & .cardcontent {
                    background: $white;
                    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
                    border-radius: 14px;
                    overflow: hidden;

                    & .cardImage {
                        height: 105px;

                        & img {}
                    }

                    & .mainCradtext {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 19px;
                        color: #29293E;
                    }

                    & .textCard {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 19px;
                        color: #3CB54A;
                    }

                    & .cardbtn {
                        background-color: transparent;
                        border: 1px solid #3CB54A;
                        border-radius: 30px;
                        width: 100%;
                        padding: 10px 40px;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 17px;
                        color: #3CB54A;
                    }

                    & .increseandDeresebtn {
                        & .input-group {
                            display: flex;
                            flex-wrap: unset;

                            & .input-group-btn {

                                & .btn-number {
                                    width: 36px;
                                    height: 36px;
                                    border: 1px solid #3CB54A;
                                    border-radius: 30px;
                                    background-color: transparent;
                                }
                            }
                        }
                    }

                    & .delatebtn {
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                        background: transparent;
                        border: 1px solid #E84F45;
                        border-radius: 30px;
                    }
                }

                & .cartbtn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    right: 0;
                    bottom: 0;
                    transform: translate(34px, -36px);


                    & .cartbutton {
                        background: $theme1;
                        border: 1px solid $theme1;
                        box-shadow: 0px 4px 24px rgba(0, 0, 0, .45);
                        border-radius: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 0.5rem;
                        padding: 12px 23px;
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 17px;
                        color: $white;

                    }
                }

            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@mixin shoppage-mixin-min-sm() {}

// Medium devices (tablets, 768px and up)
@mixin shoppage-mixin-min-md() {}

// Large devices (desktops, 992px and up)
@mixin shoppage-mixin-min-lg() {}

// X-Large devices (large desktops, 1200px and up)
@mixin shoppage-mixin-min-xl() {}

// XX-Large devices (larger desktops, 1400px and up)
@mixin shoppage-mixin-min-xxl() {}

// X-Small devices (portrait phones, less than 576px)
@mixin shoppage-mixin-max-xs() {}

// Small devices (landscape phones, less than 768px)
@mixin shoppage-mixin-max-sm() {}

// Medium devices (tablets, less than 992px)
@mixin shoppage-mixin-max-md() {}

// Large devices (desktops, less than 1200px)
@mixin shoppage-mixin-max-lg() {}

// X-Large devices (large desktops, less than 1400px)
@mixin shoppage-mixin-max-xl() {}