//************* [ Modal css start ] *************
.bodyBg{
    background-color: #EAEAEA;
}
input::placeholder{
    color: #7F7F8D;
    font-size: 16px;
    font-weight: 400;
}
.modal-content {
    overflow: hidden;
    border-radius: 24px !important;

    & .theme-card {
        box-shadow: transparent !important;
        border-radius: inherit !important;

        & .worn.text-center {
            margin-bottom: 10px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #29293E;
        }
    }

    .modal-header {
        height: 72px;
        background: #F7F7F7;
        border-bottom: 0;

        h1 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #29293E;
        }
    }

    .card-body-top {
        padding: 24px !important;

        .theme-card-header {
            border-radius: 12px;

        }

        ul.gap-2 {
            margin-bottom: 0;
            margin-top: 10px;
        }
    }
}
.CleanerListCard {
    background: #fff !important;
    border-Radius: 16px;
    box-shadow: 0px 0px rgba(0, 0, 0, 0.07);
    overflow: hidden;
    text-decoration: none;
    a{
        text-decoration: none;
    }
    .CleanerListHeader {
        padding: 15px 15px 0px 15px;
    }
    .owl-dots {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        button.owl-dot {
            width: 8px;
            height: 8px;
            margin: 0px 5px;
            border-radius: 50%;
            background-color: #EAEAEA;
            &.active{
                background: #3cb54a;
            }
        }
    }
    .price.fs-16.position-absolute {
        top: 0;
        right: 0;
        background: #E9F9EB;
        color: #3CB54A;
        padding: 16px 20px;
        border-radius: 0px 0px 0px 25px;
    }
}
.MemorialDetail {
    ul.Detail {
        margin-bottom: 0;

        p {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #7F7F8D;
            margin-bottom: 3px;
        }

        h5 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: #29293E;
            margin-bottom: 0;
        }

        h6 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            color: #29293E;

            a {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                text-decoration-line: underline;
                color: $theme1;

                span {
                    margin-left: 7px;
                }
            }
        }

        li {
            margin-bottom: 11px;
        }
    }

}

#MemorialDetailModal {
    .modal-dialog {
        transform: none;
        width: 800px !important;
        max-width: 100%;

    }
}
.beforeAftercleaning {
    padding: 16px;
    overflow: hidden;
    border-bottom: 1px solid #EAEAEA;

    textarea {
        background: #F7F7F7 !important;
        border-radius: 12px !important;
        border: 0 !important;
        padding: 18px 15px !important;
        font-family: 'Inter' !important;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #7F7F8D;
    }

    h4.beforeAfterTitle {
        font-family: 'Inter' !important;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #29293E;
        margin-bottom: 14px;

        sup {
            color: $red;
        }

    }

}

#StartJobModal {
    .card-body-top {
        padding: 16px 16px 0px 16px !important;
    }
}
//************* [ Modal css end ] *************

.upload__box {
    padding: 0;
    position: relative;
    width: 100%;
    height: 76px;
    border-radius: 10px;
    max-width: 76px;

    .upload__img-wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
        height: 100%;
        background: $white;

        .upload__img-close {
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: $white;
            position: absolute;
            top: -6px;
            right: -6px;
            text-align: center;
            line-height: 24px;
            z-index: 13;
            cursor: pointer;
            color: #7F7F8D !important;
            border: 1px solid #7F7F8D;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .upload__img-close:after {
            content: '\2716';
            font-size: 13px;
            font-weight: 400;
            color: #7F7F8D;
        }
    }

    .upload__btn-box {
        margin-bottom: 0;
        width: 100%;
        height: 100%;

        .upload__btn {
            font-family: 'Inter' !important;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            color: $theme1;
            transition: all 0.3s ease;
            cursor: pointer;
            border: 1px solid;
            background-color: $white;
            border-color: $theme1;
            border-radius: 10px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &:hover {
                transition: all 0.3s ease;
            }

            .upload__inputfile {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }
        }
    }

    .img-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $white;
        background-repeat: no-repeat;
        background-position: center;
        border: 0;
        background-size: 100% 100%;
        object-fit: contain;
    }
}
.upload__btn-box {
    margin-bottom: 10px;
}

.upload__img-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.upload__img-box {
    width: 200px;
    padding: 0 10px;
    margin-bottom: 12px;
}
.img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100%;
}

@media (max-width:992px) {
    .toggler-icon {
        display: block !important;
    }

    .sidebar {
        display: none !important;
    }

    .wrapper .main {
        width: 100%;
        margin-left: 0;
    }
}

//*************************Reviews Page css start **********************************//
[page-name=reviewspage] {
    & .reviewspage {
        .borderRight {
            border-right: 1px solid #EAEAEA;

            .p-15 {
                padding: 15px !important;
            }
        }

        .borderbottom {
            border-bottom: 1px solid #EAEAEA;
        }

        .squre {
            width: 52px;
            height: 52px;
            left: 16px;
            top: 16px;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 12px;

            &.rating {
                background: $white;

                img {
                    width: 25px;
                }
            }

            &.user {
                background: #F6F6F6;
            }
        }

       
    }
}
.ReviewsRight {
    .progress {
        background: transparent;
        height: 6px;
        overflow: visible;

        .progress-bar {
            border-radius: 12px;
            background-color: $theme1 !important;
            position: relative;
            overflow: visible;

            p {
                position: absolute;
                right: -34px;
                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #7f7f8d;
                margin-bottom: 1px;
            }
        }
    }

}
// Small devices (landscape phones, 576px and up)
@mixin reviewspage-mixin-min-sm() {}

// Medium devices (tablets, 768px and up)
@mixin reviewspage-mixin-min-md() {}

// Large devices (desktops, 992px and up)
@mixin reviewspage-mixin-min-lg() {}

// X-Large devices (large desktops, 1200px and up)
@mixin reviewspage-mixin-min-xl() {}

// XX-Large devices (larger desktops, 1400px and up)
@mixin reviewspage-mixin-min-xxl() {}

// X-Small devices (portrait phones, less than 576px)
@mixin reviewspage-mixin-max-xs() {
    [page-name=reviewspage] {
        & .reviewspage {
            .borderRight {
                border-right: 0;
                border-bottom: 1px solid #EAEAEA;

                .p-15 {}
            }

            .borderbottom {}

            .squre {

                &.rating {

                    img {}
                }

                &.user {}
            }

            .ReviewsRight {
                .progress {

                    .progress-bar {

                        p {}
                    }
                }

            }
        }
    }
}

// Small devices (landscape phones, less than 768px)
@mixin reviewspage-mixin-max-sm() {}

// Medium devices (tablets, less than 992px)
@mixin reviewspage-mixin-max-md() {}

// Large devices (desktops, less than 1200px)
@mixin reviewspage-mixin-max-lg() {}

// X-Large devices (large desktops, less than 1400px)
@mixin reviewspage-mixin-max-xl() {}
//*************************Reviews Page css end **********************************//

//*************************tutorials Page css start **********************************//
[page-name=tutorials] {
    & .video-container {
        position: relative;

        & .video-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    & .play-button-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        pointer-events: none;

        & #circle-play-b {
            cursor: pointer;
            pointer-events: auto;

            & svg {
                width: 60px;
                height: 60px;
                fill: $theme1;
                stroke: $theme1;
                cursor: pointer;
                background-color: $black;
                border-radius: 50%;
                opacity: 0.9;
            }
        }
    }

    & video {
        width: 100%;
        height: 100%;
        border-radius: 16px;
    }

    & #playlist {
        width: 100%;

        & .listInner {
            display: flex;
            width: 100%;
            border-left: 4px solid transparent;
            display: flex;
            align-items: center;
            gap: 1rem;
            transition: all ease-in-out 0.3s;

            &.active,
            &:hover {
                border-left: 4px solid $theme1;
                background: #e9f9eb;
                color: $theme1;

                & img {
                    filter: grayscale(0);
                }
            }

            & a {

                color: #7F7F8D;

                width: 100%;
                text-decoration: none;

            }

            & img {
                filter: grayscale(1);
            }

        }

    }
}
// Small devices (landscape phones, 576px and up)
@mixin tutorials-mixin-min-sm() {}

// Medium devices (tablets, 768px and up)
@mixin tutorials-mixin-min-md() {}

// Large devices (desktops, 992px and up)
@mixin tutorials-mixin-min-lg() {}

// X-Large devices (large desktops, 1200px and up)
@mixin tutorials-mixin-min-xl() {}

// XX-Large devices (larger desktops, 1400px and up)
@mixin tutorials-mixin-min-xxl() {}

// X-Small devices (portrait phones, less than 576px)
@mixin tutorials-mixin-max-xs() {}

// Small devices (landscape phones, less than 768px)
@mixin tutorials-mixin-max-sm() {}

// Medium devices (tablets, less than 992px)
@mixin tutorials-mixin-max-md() {}

// Large devices (desktops, less than 1200px)
@mixin tutorials-mixin-max-lg() {}

// X-Large devices (large desktops, less than 1400px)
@mixin tutorials-mixin-max-xl() {}
//*************************tutorials Page css end **********************************//

//*************************settings Page css start **********************************//
[page-name=settings] {
    & .settings {
        
        .avatar-upload {
            .avatar-edit {
                input {
                    display: none;
                }
            }
        }
        .avatar-preview {
            width: 80px;
            height: 80px;
            position: relative;
            border-radius: 100%;

            img {
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }

            >div {
                width: 100%;
                height: 100%;
                border-radius: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        
    }
    
   
}
// Small devices (landscape phones, 576px and up)
@mixin settings-mixin-min-sm() {}

// Medium devices (tablets, 768px and up)
@mixin settings-mixin-min-md() {}

// Large devices (desktops, 992px and up)
@mixin settings-mixin-min-lg() {}

// X-Large devices (large desktops, 1200px and up)
@mixin settings-mixin-min-xl() {}

// XX-Large devices (larger desktops, 1400px and up)
@mixin settings-mixin-min-xxl() {}

// X-Small devices (portrait phones, less than 576px)
@mixin settings-mixin-max-xs() {}

// Small devices (landscape phones, less than 768px)
@mixin settings-mixin-max-sm() {}

// Medium devices (tablets, less than 992px)
@mixin settings-mixin-max-md() {}

// Large devices (desktops, less than 1200px)
@mixin settings-mixin-max-lg() {}

// X-Large devices (large desktops, less than 1400px)
@mixin settings-mixin-max-xl() {}
//*************************settings Page css end **********************************//

//*************************earnings Page css start **********************************//
[page-name=earnings] {
    & .earnings {
        .selectYear{
            font-weight: 600;
            font-size: 20px;
            .formselect {
                color: $theme1;
                outline: none;
                border: 0;
                & option{
                    font-size: 14px;
                    border: 0;
                    background-color: transparent;
                    color: #000;
                    &:hover{
                        background-color: #e9f9eb !important;
                        color: $theme1;
                    }
                }
            }
        }
        .downlode {
            border-radius: 50px;
            font-weight: 500;
            font-size: 14px;
            height: 42px;
            line-height: 42px;
            text-align: center;
            text-decoration: none;
            padding: 12px 40px;
            border: 1px solid $theme1;
           
            border: 1px solid #7f7f8d;
            color: #7f7f8d;
            background: rgba(0,0,0,0) !important;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 29px;
            width: fit-content;
            margin-left: auto;
            img{
                filter: opacity(0.5);
            }
            &:hover{
                transition: all ease-in-out .1s;
                background: #7f7f8d !important;
                color: $white;
                img{
                    filter: brightness(100);
                }
            }
        }
        .customTable{
            th{
                vertical-align: middle;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: #7F7F8D;
                background: #F6F6F6;
                border-bottom: 0;
            }
            td{
                font-weight: 600;
                font-size: 16px;
                &.green {
                    color: $theme1;
                }
                &.orange {
                    color: #f89408;
                }
                &.red {
                    color: #dc3545;
                }
            }
        }
        $color_1: #555;
$font-family_1: Verdana, sans-serif;
.totalEarning {
    width: 100%;
    justify-content: space-between;
    padding: 15px !important;
    .total{
        width: 100%;
        text-align: center;
        align-items: center;
        &.afterBefore{
            position: relative;
            &:after{
                position: absolute;
                content: "";
                width: 1px;
                height: 100%;
                background-color: #EAEAEA;
                right: 35px;
                top: 0;
            }
            &:before{
                position: absolute;
                content: "";
                width: 1px;
                height: 100%;
                background-color: #EAEAEA;
                left: -16px;
                top: 0;
            }
        }
        p{
            margin-bottom: 11px;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #7F7F8D;
        }
        .round {
            width: 52px;
            height: 52px;
            left: 16px;
            top: 16px;
            background: #E9F9EB;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            &.orange{
                background: #F9F1E9;
            }
            &.red{
                background: #F9E9E9;
            }
        }
    }
}
#container {
	height: 400px;
    overflow: hidden;
    margin-left: -29px;
    margin-bottom: -38px;
    .highcharts-title,.highcharts-button-symbol{
        display: none !important;
    }
    .highcharts-point{
        background-color: $red !important;
        border-radius: 50px !important;
        width: 8px !important;
        overflow: hidden;
        fill: inherit;
        &.highcharts-color-1{
            fill: $red !important;
        }
        &.highcharts-color-0{
            fill: $theme1 !important;
        }
        &.highcharts-color-2{
            fill: #F89408 !important;
        }
    }
}
.highcharts-figure {
	max-width: 100%;
    background: $white;
    padding-top: 26px;
    background: $white;
    box-shadow: 0px 0px 16px #00000012;
    border-radius: 16px;
    overflow: hidden;
}
.highcharts-data-table {
	table {
		min-width: 310px;
		max-width: 800px;
		margin: 1em auto;
		font-family: $font-family_1;
		border-collapse: collapse;
		border: 1px solid #ebebeb;
		margin: 10px auto;
		text-align: center;
		width: 100%;
		max-width: 500px;
	}
	caption {
		padding: 1em 0;
		font-size: 1.2em;
		color: $color_1;
		padding: 0.5em;
	}
	th {
		font-weight: 600;
		padding: 0.5em;
		padding: 0.5em;
	}
	td {
		padding: 0.5em;
	}
	thead {
		tr {
			background: $red;
		}
	}
	tr {
		&:nth-child(even) {
			background: #f8f8f8;
		}
		&:hover {
			background: #f1f7ff;
		}
	}
}

    }
}
.OTPVerification{
    text-align: center !important;
    width: 100%;
    display: flex;
    flex-direction: column;
    .emailOrSms {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        border: 1px solid #EAEAEA;
        border-radius: 8px;
        cursor: pointer;
        &.active{
            background: #E9F9EB;
            border: 1px solid $theme1;
        }
        
    }
    .underline-none{
        text-decoration: none;
        text-align: center;
    }
    .needed{
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        a{
            color: $theme1;
            text-decoration: none;
            font-weight: 700;
        }
    }
    .otpInput {
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0 !important;
        input{
            width: 73px;
            border: 0;
            border-bottom: 1px solid #BDBDBD;
            text-align: center;
            outline: none;
            font-weight: 700;
            font-size: 24px;
            color: $black;
            &.alertborder{
                border-bottom: 1px solid $red !important;
            }
        }
    }
    .otpalert {
        background: #f9d9d7;
        border-radius: 8px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -61px;
        padding: 12px 17px;
        text-align: left;
        border-left: 5px solid #E84F45;
        font-weight: 600;
        font-size: 14px;
        color: $black;
        &.success{
        background: #E9F9EB;
        border-left: 5px solid $theme1;
        }
    }
    &.success{
        background: #E9F9EB;
        border-left: 5px solid $theme1;
        }
}
.custom-border{
    border-radius: 24px 24px 0px 0px !important;
}
.showPassword {
    position: relative;
    i {
        position: absolute;
        top: 34%;
        right: 12px;
        font-size: 14px;
        color: #7e7b7b;
    }
}
// Small devices (landscape phones, 576px and up)
@mixin earnings-mixin-min-sm() {}

// Medium devices (tablets, 768px and up)
@mixin earnings-mixin-min-md() {}

// Large devices (desktops, 992px and up)
@mixin earnings-mixin-min-lg() {}

// X-Large devices (large desktops, 1200px and up)
@mixin earnings-mixin-min-xl() {}

// XX-Large devices (larger desktops, 1400px and up)
@mixin earnings-mixin-min-xxl() {}

// X-Small devices (portrait phones, less than 576px)
@mixin earnings-mixin-max-xs() {}

// Small devices (landscape phones, less than 768px)
@mixin earnings-mixin-max-sm() {}

// Medium devices (tablets, less than 992px)
@mixin earnings-mixin-max-md() {}

// Large devices (desktops, less than 1200px)
@mixin earnings-mixin-max-lg() {}

// X-Large devices (large desktops, less than 1400px)
@mixin earnings-mixin-max-xl() {}
//*************************earnings Page css end **********************************//

//*************************availability Page css start **********************************//
[page-name=availability] {
    
    & .availability {
       .borderGray{
        border-top: 1px solid #eaeaea;
        margin-top: -24px;
        span{
            width: 7px;
            height: 7px;
            background: $theme1;
            padding: 1px;
            display: flex;
            border-radius: 50%;
            margin-right: 10px;
        }
       }
       .calendar-action-buttons {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #eaeaea;
        margin-bottom: 10px;
    }
        .r-16{
            right: 16%;
            top: 9px;
        }
        .LocationHeight{
            height: 384px;
        }
        & .salectDates{
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: $black;
            & #salectValue{
                width: 115px;
                font-weight: 600;
                font-size: 20px;
                line-height: 24px;
                color: $theme1;
                outline: none;
                option{
                    border: 0;
                    padding: 20px;
                    font-size: 14px;
                    font-weight: 400;
                    color: $black;
                }
            }
        }
        :host .calendar-action-buttons {
            display: flex;
            justify-content: space-between;
            width: 80% !important;
            position: absolute;
            top: 5px;
            margin-bottom: 10px;
        }
      .customWidth{
        max-width: 100%;
       
      }
    
      .calendar-day{
        &.calendar-day-active {
            .calendar-day-highlight{
                background: inherit;
                background: $red !important;
            }
        }
      }
        .workLocation {
            padding: 0;
            margin: 0;
            li{
                padding: 15px 19px;
               
                border-bottom: 1px solid #EAEAEA;
                
                .location {
                    display: flex;
                    align-items: center;
                    span {
                        margin-right: 10px;
                    }
                }
            }
        }
        .innerCard{
            border: 1px solid #d2d2d278;
            .theme-card-header{
                background-color: $theme1;
            }
        }
        .AdditionalService {
            border: 1px solid #EAEAEA;
            border-radius: 8px;
            padding: 16px;
        }
        .CleaningCharge{
            display: block;
            cursor: pointer;
        }
        .CleaningChargeEdit{
            display: none;
            &.show{
                display: flex;
            }
            .charge {
                color: $theme1;
            }
            .edit {
                cursor: pointer;
            }
        }
    }
    
}
// Small devices (landscape phones, 576px and up)
@mixin availability-mixin-min-sm() {}

// Medium devices (tablets, 768px and up)
@mixin availability-mixin-min-md() {}

// Large devices (desktops, 992px and up)
@mixin availability-mixin-min-lg() {}

// X-Large devices (large desktops, 1200px and up)
@mixin availability-mixin-min-xl() {}

// XX-Large devices (larger desktops, 1400px and up)
@mixin availability-mixin-min-xxl() {}

// X-Small devices (portrait phones, less than 576px)
@mixin availability-mixin-max-xs() {}

// Small devices (landscape phones, less than 768px)
@mixin availability-mixin-max-sm() {}

// Medium devices (tablets, less than 992px)
@mixin availability-mixin-max-md() {}

// Large devices (desktops, less than 1200px)
@mixin availability-mixin-max-lg() {}

// X-Large devices (large desktops, less than 1400px)
@mixin availability-mixin-max-xl() {}
//*************************availability Page css end **********************************//
/* Check out later: https://bbbootstrap.com/snippets/accordion-hover-effect-26103860 */


#css-dropdown
{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 300px;
    height: 42px;
    margin: 100px auto 0 auto;
}


//*************************availability Page css end **********************************//
[page-name=customerPage] {
    & .filterMemorials{
        width: 100%;
        padding: 40px 0;
       
        .custom-mt {
            margin-top: 33px !important;
        }
        & .cardcontent{
            background: $white;
            box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
            border-radius: 14px;
            overflow: hidden;
            height: 100%;
            cursor: pointer;
            transition: all ease-in-out 0.3s;
            position: relative;
            .cardImage {
                height: 155px;
                position: relative;
                z-index: 1;
                & img {
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                }
            }
            .Favorite{
                position: absolute;
                z-index: 2;
                top: 15px;
                right: 15px;
                width: 42px;
                height: 42px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #00000078;
                border-radius: 50%;
                cursor: pointer;
                img{
                    filter: brightness(100);
                    width: 22px !important;
                    &.like{
                    filter: inherit;
                    }
                }
            }
            &:hover{
                box-shadow:0px 0px 14px rgb(152 233 161 / 43%);
            }
            .list{
                img{
                    width: 20px;
                    margin-right: 6px;
                }
            }
            
           
            }
        }
    }
    .Detail-img {
        height: 155px;
        position: relative;
        & img {
            width: 100%;
            height: 100%;
        }
        .Favorite{
            position: absolute;
            z-index: 2;
            top: 15px;
            right: 15px;
            width: 42px;
            height: 42px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #00000078;
            border-radius: 50%;
            cursor: pointer;
            img{
                filter: brightness(100);
                width: 22px !important;
                &.like{
                filter: inherit;
                }
            }
        }
    }
    .filter-icon {
        position: relative;
        img {
            position: absolute;
            top: 10px;
            left: 15px;
            width: 20px;
        }
        input, select, #multipleSelect{
            height: 44px !important;
            padding: 0;
            padding-left: 42px;
            border: 1px solid #d3d3d3 !important;
            border-radius: 50px !important;
            line-height: 40px !important;
            box-shadow: inherit !important;
            font-size: 14px !important;
            font-weight: 400;
            color: #b8b8c5 !important;
            .select2{
                height: 44px !important;
                padding: 0;
                padding-left: 42px;
                border: 1px solid #d3d3d3 !important;
                border-radius: 50px !important;
                line-height: 40px !important;
                box-shadow: inherit !important;
               font-size: 14px !important;
                font-weight: 400;
                color: #b8b8c5 !important;
            }
            :focus{
            border: 1px solid $theme1 !important;
            box-shadow: inherit !important;
            }
            option{
                padding-left: 0 !important;
            }
        }
    }
    .flovers {
        & .user{
            width: 44px;
        }
        & .sendBtn{
            background: #3cb54a;
            width: 44px;
            height: 44px;
        }
        & .flover {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            height: 230px;
            padding-right: 12px;
            & img{
                width: 14%;
                margin: auto;
                margin-bottom: 0;
            }
        }
        & .floverList{
            & .floverCard{
                &.success{
                    background: #e9f9eb;
                }
            }
        }
        .selected-images{
            position: relative;
            height: 45px;
            background: #fff;
            border: 1px solid #d3d3d3;
            border-radius: 50px;
            width: 100%;
            .dropdown-menu {
               
                border: 1px solid #d3d3d3;
                border-radius: 16px;
                margin-top: 11px !important;
                .customSelect{
                    border: 1px solid #eaeaea;
                    border-radius: 8px;
                    box-shadow: none;
                    margin: 3px auto 10px auto;
                    width: 94%;
                    display: flex;
                }
                .customHeight{
                    height: 231px;
                    overflow: auto;
                }
                .price{
                    background: #F6F6F6;
                    border-radius: 8px;
                    margin: 3px auto 10px auto;
                    width: 94%;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    padding: 3px 15px;
                    border-left: 4px solid  #7F7F8D;
                }
            }
            #selected-images{
                border: 0;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                input{
                    border: 0;
                    width: 100%;
                    height: 100%;
                    box-shadow: none;
                }
                .iconFlover{
                    position: absolute;
                    top: 13px;
                    right: 15px;
                    width: 20px;
                    filter: grayscale(1);
                }
            }
        }
    }
    #MemorialDetailModalToggle{
        & .Detail-img{
            border-radius: 8px;
            overflow: hidden;
        }
        .MemorialDetailRight{
            border-left: 1px solid #EAEAEA;
            padding: 0;
            .myJobTopTab{
                background-color: inherit;
                box-shadow: inherit;
                border-radius: inherit;
                border-bottom: 1px solid #EAEAEA;
            }
            .round{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 18px;
                height: 18px;
                background: #7F7F8D;
                border-radius: 40px;
                color: #fff;
                font-size: 10px;
            }
            .map{
                font-weight: 600;
                font-size: 16px;
                line-height: 22px;
                text-decoration-line: underline;
                color: $theme1;
            }
        }
        .custom-p{
            padding: 15px;
        }
    }
    .floverList{
        .floverCard {
            background: #F6F6F6;
            border-radius: 16px;
            margin-top: 15px;
            margin-right: 13px;
            .dropdown{
                .dotDropdown {
                    cursor: pointer;
                }
                .dropdown-menu{
                    background: #FFFFFF;
                    border: 1px solid #EAEAEA;
                    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.07);
                    border-radius: 12px;
                    li {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        a {
                            height: 44px;
                            border-bottom: 1px solid #EAEAEA;
                            width: 100%;
                            padding: 11px 15px;
                            display: flex;
                            align-items: center;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            color: #29293E;
                            text-decoration: none;
                            &:hover{
                                color: red;
                            }
                        }
                    }
                   
                }
            }
            
        }
    }
    ::-webkit-inner-spin-button,
    ::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
    .cardIcon{
        top: 7px;
        right: 15px;
        width: 24px;
    }

.customHeaderBorder{
    border-radius: 24px 24px 0px 0px !important;
}
    // Small devices (landscape phones, 576px and up)
@mixin customerPage-mixin-min-sm() {}

// Medium devices (tablets, 768px and up)
@mixin customerPage-mixin-min-md() {}

// Large devices (desktops, 992px and up)
@mixin customerPage-mixin-min-lg() {}

// X-Large devices (large desktops, 1200px and up)
@mixin customerPage-mixin-min-xl() {}

// XX-Large devices (larger desktops, 1400px and up)
@mixin customerPage-mixin-min-xxl() {}

// X-Small devices (portrait phones, less than 576px)
@mixin customerPage-mixin-max-xs() {}

// Small devices (landscape phones, less than 768px)
@mixin customerPage-mixin-max-sm() {}

// Medium devices (tablets, less than 992px)
@mixin customerPage-mixin-max-md() {}

// Large devices (desktops, less than 1200px)
@mixin customerPage-mixin-max-lg() {}

// X-Large devices (large desktops, less than 1400px)
@mixin customerPage-mixin-max-xl() {}
    
//*************************availability Page css end **********************************//

